@import "tailwindcss";

:root {
  --background: #f5f2d9;
  --foreground: #171717;
  --primary: #0d4a27;
  --secondary: #f97316;
  --accent: #f3f4f6;
  --heading: "Poppins", sans-serif;
  --body: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary: #f97316;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--heading);
  --font-body: var(--body);
}
@layer base {
  body {
    color: var(--color-primary);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
